.App {
  background: #e2e1e0;
  text-align: center;
  padding-top: 50px
}


input {
  width:10rem;
  height:1.5rem;
}

// card mixin
@mixin card($cardWidth,$cardHeight){
  width: $cardWidth;
  height: $cardHeight;
}
@mixin cardBoxShadow(){
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchField{
  // @include card(300px,300px);
  // @include cardBoxShadow();
  // background: #fff;
  // border-radius: 2px;
  width: 300px;
  height:300px;
  display: inline-block;
  // margin: 1rem;
 position: relative; 
}

