@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.App {
  background: #fafafa;
  text-align: center;
  padding-top: 50px;
  min-height: 100vh;
 
}

@mixin PoiretOneBold(){
  font-family: 'Poiret One';
  font-weight: bold ;
}
.heading{
  font-size: 24px;
  font-family: 'Poiret One';
  font-weight: bold ;
  @include PoiretOneBold()
}

input {
  height:1.8rem;
  border: 1px solid #4B6FC1;
  display: inline-block;
}
label{
  margin-right:10px;
  @include PoiretOneBold()
}
@mixin cardBoxShadow(){
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchField{
  margin-top: 2rem;
  height:150px;
  display: inline-block;
 position: relative; 
}
.searchResults{
  background-color: #FDFEFF;
  display: inline-block;
  padding: 2rem;
  margin-bottom: 2rem;
  @include cardBoxShadow();
}

.button {
  display: inline-block;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #4B6FC1;
  cursor: pointer;
  box-shadow: 0 5px #2C4889;
  // Add code for when the cursor is over elements with the .button class
  &:hover {
      opacity : 1;
  }
  &:active {
    position: relative;
top: 7px;
box-shadow: none;
  }
}

.greyText{
  color:grey
}

.headerDiv{
  height: 2rem;
}