.App {
  background: #e2e1e0;
  text-align: center;
  padding-top: 50px;
  min-width: 100vh;
}


input {
  width:10rem;
  height:1.8rem;
}

// card mixin
@mixin card($cardWidth,$cardHeight){
  width: $cardWidth;
  height: $cardHeight;
}
@mixin cardBoxShadow(){
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchField{
  // @include card(300px,300px);
  // @include cardBoxShadow();
  // background: #fff;
  // border-radius: 2px;
  width: 300px;
  height:250px;
  display: inline-block;
 
 position: relative; 
}
.searchResults{
  background-color: #FDFEFF;
  display: inline-block;
  padding: 2rem;
  margin-bottom: 2rem;
  @include cardBoxShadow();
}

.button {
  display: inline-block;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #4B6FC1;
  cursor: pointer;
  box-shadow: 0 5px #2C4889;

  // Add code for when the cursor is over elements with the .button class
  &:hover {
      opacity : 1;
  }
  &:active {
    position: relative;
top: 7px;
box-shadow: none;
  }
}
